@model IEnumerable<ApplyNureRulesApp.Models.Content>
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Home/MasterView.cshtml";
}

<div class="container content">

    <div class="row">

        <div class="col-sm-3">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Хто ви</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Випускник школи</a></li>
                    <li><a href="" title="">Випускник колледжу</a></li>
                    <li><a href="" title="">Бакалавр</a></li>
                    <li><a href="" title="">Магістр</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="single">
                @foreach (var item in Model)
                {
                    <h3 class="side-title">Деталі прийому</h3>
                    <br>
                    <h4>
                        <strong>
                            @Html.DisplayFor(modelItem => item.Title)
                        </strong>
                    </h4>

                       

                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Description))



                }
            </div>
           
        </div>
    </div>

</div>
