
@{
    Layout = "~/Views/Home/MasterView.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="single">
                <h3 class="side-title">Додати</h3>
                <br>

                <form role="form" id="contact-form" class="contact-form" action="@Url.Content("/Dashboard/Add")" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Title" autocomplete="off" id="Name" placeholder="Заголовок">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control selectpicker" id="category">
                                    <option value="1">Випускники шкіл</option>
                                    <option value="2">Випускники коледжів</option>
                                    <option value="3">Бакалаври</option>
                                    <option value="4">Магістри</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control textarea" rows="3" name="Description" id="Message" placeholder="Додати контент"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn main-btn pull-right">Додати</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>
</div>

