
@{
    Layout = "~/Views/Home/MasterView.cshtml";
}


<div class="container content">

    <div class="row">

     
        <div class="col-md-12">
            <div class="single">
                <h3 class="side-title">Деталі прийому</h3>
                <br>
                <h4>
                    <strong>
                        Абітурієнтам з повною середньою освітою
                    </strong>
                </h4>

                <p>Для вступу на перший курс на навчання для здобуття ступеня бакалавра на основі повної загальної середньої освіти – у формі зовнішнього незалежного оцінювання, вступних іспитів або співбесіди в передбачених цими Правилами випадках. У 2017 році приймаються сертифікати зовнішнього незалежного оцінювання 2016 та 2017 років</p>
                <p>Реєстрація електронних кабінетів вступників, завантаження додатків до документів про повну загальну середню освіту починається 29 червня та закінчується о 18 год. 00 хв. 25 липня;</p>
                <p>Прийом заяв та документів,  починається 12 липня;</p>
                <p>
                    Прийом заяв та документів закінчується:
                    <ul>
                        <li>
                            о 18 год. 00 хв. 20 липня для осіб, які вступають вступних іспитів;
                        </li>
                    </ul>
                </p>
                <p>Списки осіб, рекомендованих до зарахування за результатами співбесіди з повідомленням про отримання чи неотримання ними права здобувати вищу освіту за державним або регіональним замовленням оприлюднюються не пізніше 12.00 години 24 липня.</p>
            </div>
        </div>
    </div>

</div>
